<div class="container top-margin">
  <div class="row">

    <div class="col-md-6">
      <span class="span-grande"> Nuevo juego </span>
    </div>

    <div class="col-md-6">

      <form action="/perfil/nuevojuego" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <div class="row justify-content-center">
            <label for="title-input" class="form-input span-pequeño">Título</label>
            <input name="title" type="text" class="form-control" id="title-input">
          </div>
        </div>
        <div class="form-group">
          <div class="row justify-content-center">
            <label for="description-input" class="form-input span-pequeño">Descripción</label>
            <input name="description" type="text" class="form-control" id="description-input">
          </div>
        </div>
        <div class='form-group'>
          <div class="custom-file">
            <input name="imageFile" type="file" class="custom-file-input " id="imageFile">
            <label class="custom-file-label" for="imageFile">Seleccionar imagen</label>
          </div>
        </div>
        <div class="form-group">
          <div class="row justify-content-center">
            <label for="developer-input" class="form-input span-pequeño">Developers</label>
            <input name="developer" type="text" class="form-control" id="developer-input">
          </div>
        </div>
        <div class="form-group">
          <div class="row justify-content-center">
            <label for="rating-input" class="form-input span-pequeño">Rating</label>
            <input name="rating" type="number" class="form-control" id="rating-input">
          </div>
        </div>
        <div class="form-group">
          <div class="row justify-content-center">
            <label for="rating-input" class="form-input span-pequeño">Unidades para vender</label>
            <input name="availableSale" type="number" class="form-control" id="sellingGames-input">
          </div>
        </div>
        {{#if errorMsg}}
        <p style="margin-top: 10px;background: red; color: white; text-align: center; padding: 10px">
          {{errorMsg}}</p>
        {{/if}}
        <div class="row justify-content-center">
          <button type="submit" class="btn btn-dark">¡Añadir juego!</button>

          <a href="/" class="btn btn-dark" style="margin-left: 25px">Volver</a>
        </div>

      </form>
    </div>

  </div>
</div>