<div class='container top-margin '>
    <div class='row justify-content-center'>
        <div class='col-md-3'>
            <img class='perfil-image' src="{{avatar.path}}" alt="fotografía de {{username}}">
        </div>
        <div class='col-md-7' style="margin: 20px">
            <span class="span-grande"> Bienvenid@ {{username}}</span>
            <hr>
            <a href='/perfil/avatar' class="btn btn-dark">Subir Avatar</a>
            <a href="/perfil/mapa" class="btn btn-dark">Ver mi ubicación</a>
            <a href="/perfil/ubicacion" class="btn btn-dark">Añadir ubicación</a>
            <a href="/perfil/nuevojuego" class="btn btn-dark">Añadir juego</a>
        </div>
    </div>
    <hr>
    <section class="container" style="margin: 100px">
        <div class="row justify-content-center">
            <span class="span-medio">Juegos añadidos:</span>
        </div>
        <div class="row games-list">
            {{#each stock}}
            {{>gameCard this.game}}
            {{/each}}
        </div>
    </section>
    <section class="container" style="margin: 100px">
        <div class="row justify-content-center">
            <span class="span-medio">Juegos favoritos:</span>
        </div>
        <div class="row games-list">
            {{#each favoriteGames}}
            {{>gameCard this}}
            <a href="/juegos/borrarfavoritos?gameId={{_id}}" class="btn btn-dark" style="height: 40px">Borrar</a>
            {{/each}}
        </div>
        <br>
</div>
</section>
</div>