<div class='container'>
  <div class='row justify-content-md-center'>
    <div class='cl-md-6'>
      <h1>Bienvenid@ {{username}}</h1>

      <h3>Avatar</h3>
      <img class='perfil-image' src="{{avatar.path}}" alt="fotografía de {{username}}">
      <hr>
      <a href='/perfil/avatar'>Subir Avatar</a>
      <hr>
      <a href="/perfil/mapa" class="btn btn-dark">Ir a mapas</a>
      <hr>
      <a href="/perfil/ubicacion" class="btn btn-dark">Añadir ubicación</a>

      <hr>
      <h1>AQUI VA EL JUEGO:</h1>
      <h1>{{sellingGames.length}}</h1>
      <a href="/perfil/nuevojuego" class="btn btn-dark">Añade un juego a tu lista de venta</a>


      <h3>Intereses</h3>




    </div>
  </div>
</div>