<div class='container'>
    <div class='row justify-content-between'>
        <div class='cl-md-6' style="margin: 20px">


            <img class='perfil-image' src="{{avatar.path}}" alt="fotografía de {{username}}">

        </div>
        <div class='cl-md-4' style="margin: 20px">
            <h1>Bienvenid@ {{username}}</h1>
            <hr>
            <a href='/perfil/avatar' class="btn btn-dark">Subir Avatar</a>
            <a href="/perfil/mapa" class="btn btn-dark">Ir a mapas</a>
            <a href="/perfil/ubicacion" class="btn btn-dark">Añadir ubicación</a>
            <a href="/perfil/nuevojuego" class="btn btn-dark">Añade un juego a la BD</a>
        </div>

        <hr>
        <section class="container">

            <h3 style="background-color: white">Jugos añadidos:</h3>

            <div class="row">
                {{#each stock}}
                {{>gameCard this.game}}
                {{/each}}
            </div>
        </section>


        <section class="container">

            <h3 style="background-color: white">Tus juegos favoritos:</h3>

            <div class="row">
                {{#each favoriteGames}}
                {{>gameCard this}}
                <br>
                <a href="/juegos/borrarfavoritos?gameId={{_id}}" class="btn btn-dark" style="height: 40px">Borrar</a>
                {{/each}}
            </div>
        </section>
    </div>

</div>