<div class="col-md-3">

    <article class="card" style="margin: 10px">
        <div class="card-body">
            <h5 class="card-title" style="margin: 0; padding: 0">{{this.title}}</h5>
            <hr>
            <a href="/juegos/detalles?gameId={{this.id}}"><img class="card-img-top" src="{{this.images}}"
                    alt="foto de {{this.title}}"></a>
        </div>
    </article>

</div>