<div class="col-md-3">

    <article class="card">
        <img class="card-img-top" src="{{this.avatar.path}}">
        <div class="card-body">
            <h5 class="card-title">{{this.title}} <br> Desarrolado por: {{this.developer}}</h5>
            <hr>
        </div>
    </article>

</div>