<div class="container top-margin">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="row justify-content-center">
                <span class="span-grande"> Sube una imagen </span>
            </div>
            <hr>
            <form method="POST" action="/perfil/avatar" enctype="multipart/form-data">
                <div class='form-group'>
                    <div class="custom-file">
                        <input name="imageFile" type="file" class="custom-file-input" id="imageFile">
                        <label class="custom-file-label" for="imageFile">Seleccionar imagen</label>
                    </div>
                </div>
                <button type='submit' class='btn btn-dark btn-block'>Subir imagen</button>
            </form>
        </div>
    </div>
</div>