<div class="container">
    <div class="row text-align-center">
        <h1>{{siteTitle}}</h1>
    </div>
    <div class="row">
        <h2>Compraventa De VideoJuegos Entre Particulares</h2>
    </div>

</div>

