<div class="container">

   

    <hr>


    <figure id='map'>

    </figure>

    <hr>
  </div>
<p id='deleteMe' >{{user._id}}</p>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/map.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6QmDOwgqIysXNyjlSbMMqI4F6_07Yrfs&callback&callback=initApp"></script>