<div class="container top-margin">
  <hr>
  <div class="row justify-content-center">
    <span class="span-grande"> Tu ubicación</span>
  </div>
  <figure userId={{user._id}} id='map'>
  </figure>
  <hr>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/map.js"></script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXPx1w7Nm5k7tT2Z8y8Lp4XJz0nsMBb5o&callback=initApp"></script>