<div class='container' >
    <div class='row justify-content-md-center'>
        <div class='cl-md-6'>
<h1>Bienvenid@ {{user.username}}</h1>

<h3>Avatar</h3>
<img src="#" alt="fotografía de {{user.username}}">
<hr>
<a href='/perfil/avatar'>Subir Avatar</a>
<hr>



<h3>Intereses</h3>
</div>
</div>
</div>