<div class="container top-margin">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="row justify-content-center">
                <span class="span-grande"> Ubicación </span><br><br>
            </div>
            <form action="/perfil/ubicacion" method="POST">
                <div class='form-group'>
                    <div class="row justify-content-center">
                        <input type="text" name="latitude" placeholder="latitud"><br><br>
                    </div>
                    <div class="row justify-content-center">
                        <input type="text" name="longitude" placeholder="longitud"><br><br>
                    </div>
                    <div class="row justify-content-center">
                        <span class="span-pequeño"> Ejemplo: 37.39119521169887, -6.045642640625131 </span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type='submit' class='btn btn-dark btn-block'>Añadir</button>
                </div>
                {{#if errorMsg}}
                <p style="margin-top: 10px;background: red; color: white; text-align: center; padding: 10px">
                    {{errorMsg}}</p>
                {{/if}}
            </form>

        </div>
    </div>
</div>