<div class="container top-margin">
    <div class="row justify-content-center">
        <span class="span-grande"> Datos del vendedor: {{username}} </span>
    </div>
    <hr>
    <div class="row justify-content-center">
        <span class="span-medio">Juegos en venta:</span>
        <div class="row games-list">
            {{#each stock}}
            {{>gameCard this.game}}
            {{/each}}
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <span class="span-medio"> Correo electrónico: {{email}}</span>
        <br>
    </div>
    <div class="row justify-content-center">
        <strong><a href="/email?vendorsId={{_id}}" class="btn btn-dark">Enviar un
                e-mail</a></strong>
    </div>
    <hr>
    <div class="row justify-content-center">
        <span class="span-medio"> Ubicación </span>
    </div>
    <hr>
    <figure userId={{_id}} id='map'></figure>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXPx1w7Nm5k7tT2Z8y8Lp4XJz0nsMBb5o&callback=initApp"></script>