<div >
    <h2>Datos del vendedor: {{username}} </h2>
    <hr>
 
        <div >
 <div >
            <div id="restaurantsMap"></div>
        </div>

                <div >
            <h3>Juegos en venta:</h3>
            
                {{#each sellingGames}}
                {{>gameCard this}}
                {{/each}}
            </div>
        </div>
 
    <hr>
    <h3>Correo electrónico: {{email}}</h3>
</div>


<figure userId={{_id}}  id='map'>

    </figure>


   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/map.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXPx1w7Nm5k7tT2Z8y8Lp4XJz0nsMBb5o&callback=initApp"></script>