<div class="container">

    <div class="row">

        <div class="col-md-5">
            <div class="row justify-content-center">
                <span class="span-grande"> Vender {{title}} </span>
            </div>
        </div>

        <div class="col-md-6">

            <form action="/juegos/incluir-venta?gameId={{id}}" method="POST">
                <div class="form-group">
                    <label for="wantsale-input" class="form-input span-pequeño">Numero total de {{title}} para vender:
                    </label>
                    <input name="wantsale" type="number" class="form-control" id="wantsale-input">
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-dark" style="margin-right: 25px">¡Sumar stock!</button>
                    <a href="/juegos" class="btn btn-dark">Volver</a>
                </div>
            </form>
        </div>

    </div>
</div>