<div class="container">
  <section style="margin: 20px">
    <h3>Jugos añadidos:</h3>
    <div class="row">
      {{#each allgames}}
      {{>gameCard this}}
      {{/each}}
    </div>
  </section>
  <h4>¿No está el juego que buscas?</h4><a href="/juegos/nuevo" class="btn btn-dark">¡ Añádelo ! </a>
  <a href="/" class="btn btn-dark">Volver al inicio</a>
</div>