<div class="container">
  <section style="margin: 20px">
    <h3>Jugos añadidos:</h3>
    <div class="row">
      {{#each allgames}}
      {{>gameCard this}}
      {{/each}}
    </div>
  </section>
  
  <a href="/" class="btn btn-dark">Volver al inicio</a>
</div>
